.header-css {
    background-color: #ffffff;
    text-decoration: none;
    padding: 16px;
    border-top:5px solid #ff7500;

}

.header-link{
    text-decoration: none;
    color: black;
    padding: 0;
    line-height: 15px;
    letter-spacing: 1px;

    width: 92px;
    height: 15px;
    font-family: "roboto", sans-serif;
    height: 15px;
    font-weight: 500;
    transition: color 0.6s ease;
    margin-left: 32px;
}
.header-button {
    margin-left: 32px;
    background-color: #ff7500;
    border-radius: 4px;

    color: #ffffff;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    padding:12px 24px ;

    letter-spacing: 0.5px;
    transition: opacity 0.4s ease;
    display: inline-block;

}
.flexbox-2:last-child{
    display: flex;
    margin: 0;

}

.python-book {
    background-color: #252420;




}
.book-dict {
    color: #ffffff;
    width: 387px;
    height: 328px;



}

.button-book{
    background-color: #ff7500;
    color: #ffffff;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    transition: opacity 0.4s ease;
    padding: 12px 24px;
    border-radius: 4px;
    width: 200px;
    height: 39px;

}
.akademnashr-tarif{


}
.savol {
    width: 600px;
    font-family: "roboto condesed", sans-serif;
    font-weight: 700;
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 72px;
}

.cursor-pic{
    width: 100px;
    height: 100px;
    background:rgba(255, 117, 0, 0.2);
}
.chaqmoq-pic{
    width: 100px;
    height: 100px;
    background:rgba(255, 117, 0, 0.2);
}
.yulduz-pic{
    width: 100px;
    height: 100px;
    background:rgba(255, 117, 0, 0.2);
}
.sale{

    background-color: #252420;


}

.flexbox-3{
    padding-top: 72px;
    padding-bottom: 210px;
    margin: 0;
}
.sc-paragraf{
   width: 310px;
}
.sarlavha-sale{
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    width: 373px;
    height: 96px;
}
.sale-first-text {
    color: #ffffff;
    width: 440px;
    height: 48px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}
.sale-two-text {
    color: #ffffff;
    width: 440px;
    height: 48px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}
.strong-one {
    color: #ff7500;
}
.strong-two{
    color: #ff7500;
}
.sale-button{
    background-color: #ff7500;
    color: #ffffff;
    width: 152px;
    height: 39px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    transition: opacity 0.4s ease,
    background-color 0.4s ease;
    padding: 12px 24px;
    border-radius: 4px;
}
.first-link-class{
    width: 224px;
    color: #252420;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
    transition: color 0.4s ease;
}
.two-link-class{
    width: 224px;
    color: #252420;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
    transition: color 0.4s ease;
}
.three-link-class{
    width: 224px;
    color: #252420;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
    transition: color 0.4s ease;
}
.four-link-class{
    width: 224px;
    color: #252420;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding: 0;
    margin: 0;
}
.hero-line {
    width: 80px;
    height: 3px;
    background: #FF7500;
    border: none;
    margin: 0;
    margin-bottom: 40px;
}
.hero-header{
    width: 339px;
    height: 96px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 24px;
}
.sc-paragraf{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 310px;





}
.sc-paragraf-3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 310px;
    height: 72px;
}

.sc-paragraf-2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 310px;
    height: 72px;
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-family: "roboto", sans-serif;

}
.line-past{
    height: 2px;
    background-color: #25242080;
    margin-top: 40px;
    margin-bottom: 64px;

}
h2{
    font-family: 'Roboto condesed', sans-serif;
}
p{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
}
.book-dict-2{
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size:  16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    width: 387px;
    margin-top: 0;
    margin-bottom: 32px;

}
.tarif-1{
    font-family: 'Roboto Condensed',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}
.tarif-2{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}
.tarif-3{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}
.header-css{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.justify-content-flex{
 display: flex;
 align-items: center;
}

.python-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexbox-3{
    display: flex;

    padding: 0px;
}
.sale-flex{
    display: flex;
    justify-content: space-between;
align-items: center;

}
.flex-4{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.logo-ak{
    display: block;
}
.logo-tg{
    display: block;
}
.logo-fb{
    display: block;
}
.logo-in{
    display: block;
}
.flex-5{
    display: flex;
    margin: 0;
    align-items: center;

}
.flex-7{
    display: flex;
    transition: color 04s ease;

}
.img-logo-class{
    transition: opacity 0.6s ease;

}
.img-logo-class:hover{


    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    opacity: 0.8;
}
.header-link:hover{
    color: #FF7500;
    transition: color 0.4s ease;

}
.header-button:hover{
    background-color: rgba(255, 117, 0, 0.8);


}
.button-book:hover{
    background-color: rgba(255, 117, 0, 0.8) ;
}
.sale-button:hover{
    background-color: rgba(255, 117, 0, 0.8);
}
.logo-svg:hover{
    opacity: 0.8;
}
.logos-svg:hover{
    color: #ff7500;
}
.flex-5:hover{
    color: #FF7500;
}
.links{
    transition: color 0.4s ease;
}
.links:hover{
    color: #ff7500;
}
.img-logo-class:active{
    opacity: 0.6;
}
.header-link:active{
    opacity: 0.6;
}
.header-button:active{
    opacity: 0.6;
}
.button-book:active{
    opacity: 0.6;
}
.sale-button:active{
    opacity: 0.6;
}
.logo-svg:active{
    opacity: 0.6;
}
.logos-svg:active{
    opacity: 0.6;
}
.links:active{
    opacity: 0.6;
}
.button{
    transition: opacity 0.4 ease;
}
.logos-svg{
    color: #252420;
    transition: color 0.4s ease;
    display: block;

}
.logos-svga{
    color: #252420;
    transition: color 0.4s ease;
}
.logos-svgb{
    color: #252420;
    transition: color 0.4s ease;
}
*:focus{
    outline: 3px dotted #FF7500 ;
    outline-offset: 3px;
}
.flex-4{
    padding-top: 56px;
    padding-bottom: 56pxpx;
}

.flex-7{

 padding: 0px;

}
.manzillar{
    background-color: #F8F8F8;
    padding: 0;
}

.header-link{
    width: 16px;

}
.logos-svg-pic{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pbook{
    border-radius: 9px;
}
.logo-svg{
    display: block;
    transition: opacity 0.4s ease;
}
.sbook{
    border-radius: 9px;
}
.hero-line-style{
    border: none;
    padding-top: 210px;
}
.hero-liness{
    border: none;
    background-color: #FF7500;
    height: 3px;
    width: 80px;
    margin-left: 0;
    margin-bottom: 24px;
    margin-top: 0;
}
.sale{
    border-radius: 12px;
}
.line-past{
    border: none;
}
.one-logo{
    margin-right: 66px;
    width: 314px;
}
.sarlavha-sale{
    margin-top: 0;
    margin-bottom: 24px;
}
.sale-first-text{
    margin-top: 0;
    margin-bottom: 12px;
}

.sale-two-text{
    margin-top:0;
    margin-bottom: 0;
}
.promo-wrapper{
    margin-bottom: 24px;
    width: 440px;
    height: 108px;

}
.logosss{
    padding: 0;
    margin-right: 16px;
    display: block;

}
svg{
    outline-color: #ff7500;
}